# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List poular languages for Datscience
* commonly used libraries in python
* Examples of arithmetic expression in python

### Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. c++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. SciPy

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| VS Code with Python  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
S Amrith Swaroop